<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.model.Cat_DiaryDAO">
  
  <!-- !!!!!!!!!!! 일반계정 !!!!!!!!!!! -->
  
  <!--  육묘일기 등록 -->
  <insert id="DiaryInsert" parameterType="Cat_DiaryDTO">
	  INSERT INTO CAT_DIARY (D_TITLE,D_CONTENT,D_FILE,D_DT,ID) 
	  VALUES(#{d_title},#{d_content},#{d_file},sysdate,#{id})
  </insert>
	
  <!-- 일반 계정일 때 전체 게시글 목록 -->
	<select id="DiarySelect" parameterType="Cat_DiaryDTO"
		resultType="Cat_DiaryDTO">
		SELECT *
		FROM CAT_DIARY
		WHERE ID=#{id}
		ORDER BY D_DT DESC
	</select>
  
   <!--  육묘일기 수정 -->
  <update id="DiaryUpdate" parameterType="Cat_DiaryDTO">
     UPDATE CAT_DIARY
     SET D_TITLE=#{d_title}, D_CONTENT=#{d_content}, D_FILE=#{d_file}
     WHERE ID=#{id}
     AND D_SEQ=#{d_seq}
  </update>
  
  <!-- 육묘일기 삭제 -->
	<delete id="DiaryDelete" parameterType="Cat_DiaryDTO">
		DELETE FROM CAT_DIARY
		WHERE ID=#{id}
		AND D_SEQ=#{d_seq}
	</delete>

	<!-- 육묘일기 달 별 갯수 -->
	<select id="DiaryCount" parameterType="Cat_DiaryDTO" resultType="int">
		select count(*) 
		from cat_diary
		where
		SUBSTR(d_dt,0,8) BETWEEN (TRUNC(SYSDATE,'MM') ) AND	(LAST_DAY(SYSDATE))
		and id=#{id}
		
	</select>
  
  
	
	
 <!--  !!!!!!!!!!! 관리자계정 !!!!!!!!!!! -->

  <!-- admin 일 때 전체 게시글 목록  -->
  <select id="AdminSelectAll" resultType="Cat_DiaryDTO">
	  select *
	  from CAT_DIARY
  </select>
  <!--  육묘일기 삭제 테이블 확인 -->
  <select id="AdminDelete" resultType="Cat_DiaryDTO">
	  select *
	  from CAT_DIARY_DELETE
  </select>
  </mapper>