<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.model.MembersDAO">
  
  <select id="login" parameterType="MembersDTO" resultType="MembersDTO">
  select *
  from MEMBERS
  where ID = #{id}
  and PW = #{pw}
  </select>
  
  <insert id="join" parameterType="MembersDTO">
		insert into members
		values(#{id},#{pw},#{cat_Name},#{cat_Birth},#{cat_Wt},#{addr},sysdate,'1')
	
	</insert>
  
  
  
  
  
  </mapper>