<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.model.MembersDAO">
 
  <!-- 로그인 login -->
  <select id="login" parameterType="MembersDTO" resultType="MembersDTO">
	  SELECT *
	  FROM MEMBERS
	  WHERE ID = #{id}
	  AND PW = #{pw}
  </select>
  
  <!-- 회원가입 join -->
  <insert id="join" parameterType="MembersDTO">
	INSERT INTO members
	VALUES (#{id},#{pw},#{cat_Name},#{cat_Birth},#{cat_Wt},#{addr},sysdate,'M')
	
  </insert>
  
  <!-- 회원정보수정 update -->
  <update id="update" parameterType="MembersDTO">
	  UPDATE MEMBERS
	  SET pw=#{pw}, cat_Name=#{cat_Name}, Cat_Birth=to_date(#{cat_Birth},'YY-MM-DD'), Cat_Wt=#{cat_Wt}, addr=#{addr}
	  WHERE ID = #{id}
  
  </update>
  
  <!-- admin 일때 전체 회원목록 select-->
  <select id="Select" resultType="MembersDTO">
	  SELECT id, pw, cat_name, TO_CHAR(cat_birth, 'yyyy-mm-dd') as cat_birth, cat_wt, addr, joindate
	  FROM MEMBERS
	  WHERE id != 'admin'
	  ORDER BY joindate DESC
  </select>
  
  </mapper>