<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- DOCTYPE : 사용자 정의 태그를 사용할건지 스키마 결정 
       dtd : document type definition = dtd 식별자 (해당하는 document 유형을 정의)
  -->
  <!-- 데이터베이스 동적로딩, 서로 다른 파일 연결 정보를 작성하는 구간 -->
<configuration>

    <typeAliases>
    <!--  MemberMapper파일에서 사용할 type들의 별명을 지정해주는 공간  -->
    <typeAlias type="com.smhrd.model.MembersDTO" alias="MembersDTO"/>
    <typeAlias type="com.smhrd.model.Cat_DiaryDTO" alias="Cat_DiaryDTO"/>
    
    </typeAliases>




<!-- 데이터베이스'들'을 기술하는 공간 -->
  <environments default="development">
  <!-- environment : 어떤 데이터베이스를 사용할 건지 내용 기술하는 공간
                   : 데이터베이스 한 개를 의미하는 단위
   -->
    <environment id="development">
    <!-- JDBC연결과 관련된 transactionManager
         type 2가지
         1)JDBC (commit, rollback -> MyBatis가 자체적으로 관리)
         2) MANAGED (Server가 관리, tomcat server)
     -->
      <transactionManager type="JDBC"/>
      <!-- 우리가 앞으로 수정하게 될 구간 !!! : dataSource -->
      <!-- 데이터베이스 연결 정보를 기술하는 구간 -->
      <dataSource type="POOLED">
      <!-- ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐
         1) UNPOOLED : 요청할 때마다 커넥션 객체를 생성
         2) POOLED : 미리 커넥션 객체를 생성하고 필요할 때 반환해주는 방식
         >>>>>> 데이터베이스 커넥션 풀
       -->
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@gjaischool-b.ddns.net:1525:xe"/>
        <property name="username" value="cgi_5_0117_1"/>
        <property name="password" value="smhrd1"/>
      </dataSource>
    </environment>
  </environments>
    
  
  <!-- 연결하고 싶은 파일의 명칭 -->
  <!-- mapper파일이 생길 때마다 반드시 연결할 수 있도록 기술해줄 것 ! -->
  <mappers>
    <mapper resource="com/smhrd/db/Members_Mapper.xml"/>
    <mapper resource="com/smhrd/db/LancatMapper.xml"/>
    <mapper resource="com/smhrd/db/Cat_Diary_Mapper.xml"/>
  </mappers>
</configuration>